body{
  background: url(../img/fondo.jpg);

}
.portada{
  width: 250px;
  margin-top: 2px;
  margin-left: 10px;
  border-radius: 10px 10px 10px 10px;
  align-items: center;
}
.menu{
  margin-top: 10px;
  margin-left: 2px;
  padding: 6px;
  text-align: center;
}
.menu a{
  color: white;
}
.lema{
  color: white;
}
.cuerpo{

}
.portada1{
  width: 100%;
}
.red-img{
  width: 100%;
}
.til-img{
  width: 100%;
  text-align: center;
}
.aut-img{
  width: 70%;
  display: flex;
    align-items: center;
    justify-content: center;
}
.datos h4,img{
  display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.titulo p,h3,h5{
  color: white;
}
.autor p,h3,h5{
  color: white;

}

@media (max-width: 770px) {
.red-social{
  display: none;
}
.encabezado{
  text-align: center;
}
.menu a{
  display: none;
}
.lema{
  display: none;
}
}
